*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.button{
    background-color: #E76F51;
}
.color{
    color:#FFFFFF;
}
.bg{
    background-color: #264653;
}
.best{
    color: #E76F51;
}
    
    
.paragraph{
    text-align:center;
    padding-left:50px;
    padding-right:50px;
}
.star{
    text-align: center;
    color: #E76F51;
   }
   .regina{
    color: #23A6F0;
    text-align: center;
    }
.banker{
    text-align: center;
    font-weight: 500;
}
.faq img{
width: 110%;
}
.faq{
   margin-right: 100px;
}
.header{
    color: black;
}
.ancor a{
    text-decoration: none;
    color:#FFFFFF;
    margin-right: 10px;
    }
  
.footer-1{
   
    color: #FFFFFF;
}
.playstore{
    color:rgb(214, 16, 131) ;
}
.get on{
    padding: 0;
 
}
.border{
    border: 5px solid white;
    border-radius: 5px;
}
.space{
    margin-top: 30px;
}
.bar{
    display: none;
}
@media screen, (max-width:480px){
    .width{
        width: 100%;
            margin-top:50px;
    }
    .nav-bar{
        display: none;
    }
    .bar{
        display: block;
        padding: 50px;
    }
}

